[Unit]
Description=Wildfly

[Service]
User=wildfly
WorkingDirectory=/home/wildfly
ExecStart=/home/wildfly/bin/standalone -b=0.0.0.0

[Install]
WantedBy=multi-user.target
